.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background: url(../../../images/profile-edit_button.png);
  transition: background .5s linear;
}

.profile__edit-button:hover {
  background: url(../../../images/profile-edit_button_hover.png);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background: url(../../../images/profile-edit_button_mobile.png);
  }
}